extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/edit/'+article._id)
    #form-group
      label Country: &nbsp;
      input.form-control-col(name='country', type='text', value= article.country)
    br
    #form-group
      label Gold: &nbsp;
      input.form-control-col(name='gold', type='text', value= article.gold)
    br
    #form-group
      label Silver: &nbsp;
      input.form-control-col(name='silver', type='text', value= article.silver)
    br
    #form-group
      label Bronze: &nbsp;
      input.form-control-col(name='bronze', type='text', value= article.bronze)
    br
    input.btn.btn-primary(type='submit',value='Submit')
